
ul{list-style: none;padding:0;margin:0;}
.lx-carousel img{display: block;}
.lx-carousel{position:relative;width:810px;height:320px;overflow:hidden;}
.lx-carousel ul{position:absolute;overflow:hidden;}

/*水平移动*/
.lx-carousel  li{float:left;}

/*淡入淡出*/
.lx-carousel ul.fade li{position: absolute;left:0;top:0;}
.lx-carousel .page{position:absolute;right:0;bottom:0;padding:10px;}
.lx-carousel .page span{display:inline-block;margin:0 5px;width:30px;height:30px;line-height:30px;background-color:rgba(0,0,0,.6);text-align:center;color:#fff;border-radius: 50%;box-shadow:0 0 10px rgba(0,0,0,.5);}
.lx-carousel .page span.active{background-color: rgba(255,0,0,.8)}

.lx-carousel > span{display:none;position:absolute;left:0;top:50%;transform: translate(0,-50%);padding:50px 16px;background-color: rgba(0,0,0,0.5);color:#fff;}
.lx-carousel .btn-next{left:auto;right:0;}
.lx-carousel > span:hover{background-color: rgba(255,0,0,0.8)}
.lx-carousel:hover > span{display: block;}



.swiper-container{
    width: 780px;
    height: 188px;
    padding-left:12px;
    padding-right:12px;
    position: relative;
}
 

   
.swiper-slide {
  text-align: center;
  font-size: 12px;
  
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.smbox{
     width: 175px;
    height: 183px;
    background: #fff;
   
}

.smbox img,h4{
       
    color:#666666;
    font-family: tahoma,\5b8b\4f53!important;
    font-size: 12px;
    line-height: 1.5;
    color: #484848;
}

.smbox .orange{
    color:#FF6600;
    font-weight:bold;
}





/*第二个*/
.swiper-container2{
    width: 960px;
    height: 239px;
    padding-left:12px;
    padding-right:12px;
    position: relative;
    overflow:hidden;
}
 

   
.swiper-slide2 {
  text-align: center;
  font-size: 12px;
  
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.smbox2{
     width: 215px;
    height: 239px;
    background: #fff;
   float:left;
   margin-left:16px;
}

.smbox2 img,h4{
       
    color:#666666;
    font-family: tahoma,\5b8b\4f53!important;
    font-size: 12px;
    line-height: 1.5;
    color: #484848;
}

.smbox2 .orange{
    color:#FF6600;
    font-weight:bold;
}
.hot-t{
    width:1200px;
    height: 276px;
}



 .hot-c .swiper-container {
      width: 100%;
      height: 100%;
}
.wrap3{
  text-align: center;
  background: #fff;
  width:685px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/*.swiper-slide:nth-child(2n) {
  width: 60%;
}
.swiper-slide:nth-child(3n) {
  width: 40%;
}*/


.sw3 .wrap3{
    width: 60%;
}
.wrap3 .erji1{
    width:685px;
    border-right:1px solid #ccc;
}

.ht-l{
    width: 959px;
    height: 522px; 
}

.ht2{
    width: 959px;
    height: 204px;
}        
.ht2 .four-l{
    float:left;
    width: 232px!important;
    height: 204px;

}


.ht-r{
        width: 240px;
        height: 505px;
        background: #fc0;
        float:right;

}

.haitaob{
    width: 959px;
    height: 55px;
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    /*border-right: 1px solid #ccc;*/
}



.haitaob li {
    float: left;
    
}

.hr-r .last1{
    width: 230px;
    height: 406px;
    margin-left:10px;
    background: #fff;
    border:1px solid #ccc;
}
