
.lsh-carousel img{display: block;}

.lsh-carousel{position:relative;width:773px;height:221px;overflow:hidden;}
.lsh-carousel ul{position:relative;overflow:hidden;}

/*水平移动*/
.lsh-carousel ul.horizontal li{float:left;}

/*淡入淡出*/
.lsh-carousel ul li{position: absolute;left:0;top:0;}
.lsh-carousel .page{position:absolute;right:0;bottom:0;padding:10px;}
.lsh-carousel .page span{display:inline-block;margin:0 5px;width:30px;height:30px;line-height:30px;background-color:rgba(0,0,0,.6);text-align:center;color:#fff;border-radius: 50%;box-shadow:0 0 10px rgba(0,0,0,.5);}
.lsh-carousel .page span.active{background-color: rgba(255,0,0,.8)}

.lsh-carousel > span{display:none;position:absolute;left:0;top:50%;transform: translate(0,-50%);padding:50px 16px;background-color: rgba(0,0,0,0.5);color:#fff;}
.lsh-carousel .btn-next{left:auto;right:0;}
.lsh-carousel > span:hover{background-color: rgba(255,0,0,0.8);}
.lsh-carousel:hover > span{display: block;}



.swiper-container{
    width: 780px;
    height: 188px;
    padding-left:12px;
    padding-right:12px;
    position: relative;
}
 

   
.swiper-slide {
  text-align: center;
  font-size: 12px;
  
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.smbox{
     width: 175px;
    height: 183px;
    background: #fff;
   
}

.smbox img,h4{
       
    color:#666666;
    font-family: tahoma,\5b8b\4f53!important;
    font-size: 12px;
    line-height: 1.5;
    color: #484848;
}

.smbox .orange{
    color:#FF6600;
    font-weight:bold;
}





/*第二个*/
.swiper-container2{
    width: 960px;
    height: 239px;
    padding-left:12px;
    padding-right:12px;
    position: relative;
    overflow:hidden;
}
 

   
.swiper-slide2 {
  text-align: center;
  font-size: 12px;
  
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.smbox2{
     width: 215px;
    height: 239px;
    background: #fff;
   float:left;
   margin-left:16px;
}

.smbox2 img,h4{
       
    color:#666666;
    font-family: tahoma,\5b8b\4f53!important;
    font-size: 12px;
    line-height: 1.5;
    color: #484848;
}

.smbox2 .orange{
    color:#FF6600;
    font-weight:bold;
}
