a { color: #666666; font-size: 14px; }

a:hover { text-decoration: underline; }

.container { margin: 0 auto; }

header { background: #fff; height: 151px; }

header .top-t { background-color: #F1F1F1; height: 24px; width: 100%; border-bottom: 1px solid #E2E2E2; }

header .top-t #top-t ul { width: 1200px; height: 24px; padding-left: 6px; padding-right: 12px; line-height: 24px; font-size: 12px; }

header .top-t #top-t ul .hand-l { float: left; width: 145px; }

header .top-t #top-t ul .hand-l .hange { margin-right: 10px; }

header .top-t #top-t ul .hand-l span:hover i { color: #10286C; }

header .top-t #top-t ul .hand-l span .icon-shouji { font-size: 10px; }

header .top-t #top-t ul .hand-r { width: 577px; position: relative; }

header .top-t #top-t ul .hand-r span { margin-right: 20px; font-size: 14px; }

header .top-t #top-t ul .hand-r .line { position: absolute; top: 5px; left: 31px; background: url("../img/line.png") no-repeat; width: 8px; height: 13px; }

header .top-t #top-t ul .hand-r .hand-r5 { position: relative; width: 50px; height: 25px; }

header .top-t #top-t ul .hand-r .hand-r5:hover a { color: #FE7B23; text-decoration: none; }

header .top-t #top-t ul .hand-r .hand-r5:hover .hand-r51 { display: block; }

header .top-t #top-t ul .hand-r .hand-r5 .one { position: absolute; top: -5px; right: -11px; font-size: 8px; }

header .top-t #top-t ul .hand-r .hand-r5 .hand-r51 { position: absolute; z-index: 100; left: -42px; top: 18px; width: 116px; height: 34px; box-shadow: 0px 0px 0px #ccc, 2px 2px 1px #ccc; background-color: #F1F1F1; padding: 0 5px; display: none; }

header .top-t #top-t ul .hand-r .hand-r5 .hand-r51 li { margin-left: 10px; margin-top: 5px; }

header .top-t #top-t ul .hand-r .hand-r52 { position: relative; }

header .top-t #top-t ul .hand-r .hand-r52:hover a { color: #FE7B23; text-decoration: none; }

header .top-t #top-t ul .hand-r .hand-r52:hover .server { display: block; }

header .top-t #top-t ul .hand-r .hand-r52 .server { z-index: 1000; width: 160px; height: 120px; background: #F1F1F1; position: absolute; left: -88px; top: 18px; display: none; padding-left: 20px; box-shadow: 0px 0px 0px #ccc, 2px 2px 1px #ccc; }

header .top-t #top-t ul .hand-r .hand-r52 .server .hao1 { color: #FE7B23; font-weight: bold; }

header .top-t #top-t ul .hand-r .hand-r52 .server .hao2 { font-weight: bold; }

header .top-t #top-t ul .hand-r .hand-r52 .server a { width: 60px; height: 25px; background-color: #4F9EE7; color: #fff; display: block; padding-left: 5px; }

header .top-t #top-t ul .hand-r .hand-r52 .server .in1 { float: left; font-size: 10px; }

header .top-t #top-t ul .hand-r .hand-r52 .server .in2 { float: right; font-size: 10px; }

header .top-t #top-t ul .hand-r .hand-r52 .two { position: absolute; top: -5px; right: -16px; font-size: 8px; }

header .top-t #top-c { height: 87px; }

header .top-t #top-c .lg { width: 1200px; }

header .top-t #top-c .lg .lg-l { float: left; width: 243px; height: 86px; position: relative; }

header .top-t #top-c .lg .lg-l img { position: absolute; top: 1px; left: -151px; }

header .top-t #top-c .lg .input-group { float: left; width: 439px; height: 26px; margin-top: 18px; }

header .top-t #top-c .lg .input-group input { border: 2px solid #FF6600; width: 339px; height: 34px; font-size: 8px; }

header .top-t #top-c .lg .input-group span { background: #FF6600; width: 100px; color: #fff; border: 3px solid #FF6600; }

header .top-t #top-c .lg .sokey { width: 439px; height: 34px; padding-top: 10px; position: relative; }

header .top-t #top-c .lg .sokey a { margin-right: 35px; font-size: 12px; }

header .top-t #top-c .lg .sokey .tline { position: absolute; left: 45px; top: 9px; }

header .top-t #top-c .lg .sokey .tline1 { position: absolute; left: 121px; top: 9px; }

header .top-t #top-c .lg .sokey .tline2 { position: absolute; left: 200px; top: 9px; }

header .top-t #top-c .lg .sokey .tline3 { position: absolute; left: 282px; top: 9px; }

header .top-t #daohang { width: 100%; background-color: #10286C; }

header .top-t #daohang .container #top-b { height: 40px; width: 1200px; position: relative; margin-right: 10px; }

header .top-t #daohang .container #top-b .lei { width: 179px; height: 40px; position: absolute; left: -15px; top: 0; background-color: #FF6600; padding-left: 20px; position: relative; margin-right: 10px; }

header .top-t #daohang .container #top-b .lei .zennbu { line-height: 40px; color: #fff; width: 180px; height: 40px; margin-right: 30px; }

header .top-t #daohang .container #top-b .lei:hover .lei-list { display: block; }

header .top-t #daohang .container #top-b .lei .three { position: absolute; left: 118px; top: 0; font-size: 8px; }

header .top-t #daohang .container #top-b .home { width: 472px; position: absolute; left: 190px; top: 0; overflow: hidden; }

header .top-t #daohang .container #top-b .home .hov { float: left; display: inline-block; height: 40px; }

header .top-t #daohang .container #top-b .home .hov a { color: #fff; line-height: 40px; margin-left: 18px; text-decoration: none; }

header .top-t #daohang .container #top-b .home .hov1 { width: 66px; }

header .top-t #daohang .container #top-b .home .hov1:hover { background-color: #0036D9; }

header .top-t #daohang .container #top-b .home .hov2 { width: 96px; }

header .top-t #daohang .container #top-b .home .hov2:hover { background-color: #0036D9; }

header .top-t #daohang .container #top-b .home .hov3 { width: 83px; }

header .top-t #daohang .container #top-b .home .hov3:hover { background-color: #0036D9; }

header .top-t #daohang .container #top-b .home .hov4 { width: 83px; }

header .top-t #daohang .container #top-b .home .hov4:hover { background-color: #0036D9; }

header .top-t #daohang .container #top-b .home .hov5 { width: 96px; }

header .top-t #daohang .container #top-b .home .hov5:hover { background-color: #0036D9; }

header .top-t #daohang .container #top-b .home-r { position: absolute; left: 955px; top: 0; background: #FF6600; width: 230px; }

header .top-t #daohang .container #top-b .home-r .cart { position: relative; width: 113px; height: 40px; line-height: 40px; color: #fff; float: left; padding-left: 6px; border: 1px solid #FF6600; }

header .top-t #daohang .container #top-b .home-r .cart:hover { background: #fff; color: #FFB380; border-bottom: none; }

header .top-t #daohang .container #top-b .home-r .cang { position: relative; width: 113px; height: 40px; line-height: 40px; float: right; color: #fff; padding-left: 6px; border: 1px solid #FF6600; }

header .top-t #daohang .container #top-b .home-r .cang:hover { background: #fff; color: #FFB380; border-bottom: none; }

header .top-t #daohang .container #top-b .home-r .cang .denglu { position: absolute; left: -118px; top: 39px; width: 230px; min-height: 88px; background: #fff; border-left: 1px solid #FF6600; border-bottom: 1px solid #FF6600; border-right: 1px solid #FF6600; padding: 5px 0; display: none; z-index: 10000; }

header .top-t #daohang .container #top-b .home-r .cang .denglu p { color: #999; display: inline-block; margin-top: 20px; height: 28px; }

header .top-t #daohang .container #top-b .home-r .cang .denglu .dl0 { margin-left: 10px; color: #BBBBBB; }

header .top-t #daohang .container #top-b .home-r .cang .denglu button { width: 50px; height: 28px; background: #FF6600; text-align: center; color: #fff; margin-left: 10px; border: none; padding-bottom: 3px; }

header .top-t #daohang .container #top-b .home-r .car-qty { color: #FFB380; font-weight: bold; }

header .top-t #daohang .container #top-b .home-r .jian { margin-left: 5px; }

header .top-t #daohang .container #top-b .home-r .car-pl { position: absolute; left: -1px; top: 39px; width: 230px; min-height: 88px; background: #fff; border-left: 1px solid #FF6600; border-bottom: 1px solid #FF6600; border-right: 1px solid #FF6600; padding: 5px 0; display: none; z-index: 10000; }

header .top-t #daohang .container #top-b .home-r .car-pl p { color: #999; position: relative; padding: 5px; }

header .top-t #daohang .container #top-b .home-r .car-pl p .che { background: url("../img/car.png") no-repeat; width: 28px; height: 23px; position: absolute; left: 4px; top: 10px; }

header .top-t #daohang .container #top-b .home-r .cart:hover .car-pl { display: block; }

header .top-t #daohang .container #top-b .home-r .cang:hover .denglu { display: block; }

header .top-t #daohang .container #top-b .lei-list { width: 179px; height: 469px; border: 2px solid #FF6600; position: absolute; left: 0; top: 38px; font-size: 14px; background: #fff; line-height: 26px; }

header .top-t #daohang .container #top-b .lei-list .yd1:hover { box-shadow: 0px 0px 1px #ccc, 2px 2px 1px #ccc; }

header .top-t #daohang .container #top-b .lei-list .yd1:hover .youdao { display: block; }

header .top-t #daohang .container #top-b .lei-list .yd1 .youdao { position: absolute; left: 155px; top: -15px; width: 818px; height: 492px; background: #fff; box-shadow: 0px 0px 1px #ccc, 2px 2px 1px #ccc; z-index: 1000; padding-top: 20px; padding-left: 20px; display: none; }

header .top-t #daohang .container #top-b .lei-list .yd1 .youdao .jiacu { font-weight: bold; margin-right: 20px; margin-bottom: 24px; display: inline-block; }

header .top-t #daohang .container #top-b .lei-list .yd1 .youdao a { margin-right: 20px; }

header .top-t #daohang .container #top-b .lei-list .lei-son { height: 73px; border-bottom: 1px solid #E6E7EB; padding-left: 20px; padding-top: 10px; }

header .top-t #daohang .container #top-b .lei-list .lei-son p { color: #333333; }

header .top-t #daohang .container #top-b .lei-list .lei-son p:first-child { font-weight: bold; font-size: 14px; position: relative; }

header .top-t #daohang .container #top-b .lei-list .lei-son p:first-child .isam { font-size: 8px; position: absolute; left: -16px; }

header .top-t #daohang .container #top-b .lei-list .lei-son p:first-child .co1 { font-size: 12px; color: #ccc; position: absolute; left: 132px; top: 1px; }

header .top-t #daohang .container #top-b .lei-list .lei-son p:first-child .co2 { font-size: 12px; color: #ccc; position: absolute; left: 132px; top: 3px; }

header .top-t #daohang .container #top-b .lei-list .lei-son p:first-child .co3 { font-size: 12px; color: #ccc; position: absolute; left: 132px; top: 4px; }

header .top-t #daohang .container #top-b .lei-list .lei-son p:first-child .co4 { font-size: 12px; color: #ccc; position: absolute; left: 132px; top: 5px; }

header .top-t #daohang .container #top-b .lei-list .lei-son0 { padding-left: 20px; padding-top: 10px; }

header .top-t #daohang .container #top-b .lei-list .lei-son0 p { color: #333333; }

header .top-t #daohang .container #top-b .lei-list .lei-son0 p:first-child { font-weight: bold; font-size: 14px; position: relative; }

header .top-t #daohang .container #top-b .lei-list .lei-son0 p:first-child .shenghuo { width: 17px; height: 17px; background: url("../img/shenghuo.png") no-repeat; position: absolute; left: -19px; top: 3px; }

header .top-t #daohang .container #top-b .lei-list .lei-son0 p:first-child .co5 { font-size: 12px; color: #ccc; position: absolute; left: 132px; top: 0; }

#main { width: 100%; height: 780px; background: #fff; }

#main .container { width: 1200px; overflow: hidden; margin: 0 auto; padding: 0; }

#main .container .main-l { width: 969px; height: 780px; float: left; padding-top: 10px; }

#main .container .main-l .kong { width: 180px; height: 472px; background: #fff; float: left; }

#main .container .main-l .mai-c { width: 780px; height: 472px; }

#main .container .main-l .mai-c .qiang { width: 780px; height: 40px; }

#main .container .main-l .mai-c .qiang .qiang1, #main .container .main-l .mai-c .qiang .qiang2 { float: left; font-size: 18px; }

#main .container .main-l .mai-c .qiang .qiang1 { width: 279px; height: 40px; line-height: 40px; color: #BF1313; font-weight: bold; }

#main .container .main-l .mai-c .qiang .qiang2 { width: 235px; height: 40px; line-height: 40px; font-weight: bold; }

#main .container .main-l .mai-c .qiang .qiang3 { float: right; width: 259px; height: 40px; line-height: 40px; font-size: 12px; font-weight: bold; text-align: right; }

#main .container .main-l .hot { width: 960px; height: 295px; border: 1px solid #ccc; margin-left: -187px; overflow: hidden; }

#main .container .main-l .hot .hot-t { height: 50px; border-bottom: 4px solid #FF6600; }

#main .container .main-l .hot .hot-t h2 { font-size: 20px; color: #FF6600; margin-left: 10px; font-weight: bold; line-height: 50px; }

#main .container .main-l .hot .hot-t h2 a { margin-left: 23px; }

#main .container .main-l .hot .hot-t .cuxiao { float: right; font-weight: normal; font-size: 14px; color: #484848; }

#main .container .main-r { width: 230px; height: 765px; float: right; padding-left: 2px; margin-top: 10px; }

#main .container .main-r .xiaolun { width: 226px; height: 245px; margin-bottom: 10px; background: #FFDFBF; }

#main .container .main-r .xiaotu { width: 230px; height: 220px; border: 1px solid #ccc; }

#main .container .main-r .grey { width: 228px; height: 120px; border: 1px solid #ccc; background: #F6F6F6; margin-top: 16px; }

#main .container .main-r .grey h4 { height: 35px; border-bottom: 1px dashed #ccc; padding-left: 10px; }

#main .container .main-r .grey h4 span { font-size: 16px; font-weight: bold; line-height: 35px; }

#main .container .main-r .grey h4 a { margin-left: 88px; }

#main .container .main-r .grey p { margin-top: 10px; margin-left: 10px; }

#main .container .main-r .xxl { width: 230px; height: 123px; margin-top: 16px; }

#hprp { width: 100%; height: 637px; background: #ECECFB; }

#hprp .container { margin: 0 auto; }

#hprp .container .hot-b { height: 50px; width: 1200px; border-bottom: 4px solid #FF6600; margin-top: 10px; overflow: hidden; }

#hprp .container .hot-b .hit { font-size: 20px; color: #FF6600; font-weight: bold; line-height: 50px; }

#hprp .container .hot-b .cuxiao2 { float: right; font-weight: normal; font-size: 14px; color: #484848; }

#hprp .container .hot-c { width: 1200px; height: 276px; }

#hprp .container .hot-c .ej1 { width: 685px; height: 276px; padding-top: 30px; border: 1px solid #ccc; }

#hprp .container .hot-c .ej1 .ear { float: left; width: 300px; height: 225px; }

#hprp .container .hot-c .ej1 .wenben { float: right; width: 378px; height: 276px; }

#httj { width: 100%; height: 547px; background: #DBDBEA; }

#sjsy { width: 100%; height: 503px; background: #CACAD9; }

#dnpb { width: 100%; height: 527px; background: #B9B9C8; }

#jydq { width: 100%; height: 522px; background: #A8A8B7; }

#shbh { width: 100%; height: 528px; background: #9797A6; }

#ewm { width: 100%; height: 270px; }

#ewm h3 { font-size: 16px; font-weight: bold; margin-bottom: 15px; }

#ewm .bv { overflow: hidden; width: 1200px; }

#ewm .bv img { width: 389px; height: 60px; margin-top: 40px; margin-bottom: 15px; }

#ewm .bv img:nth-child(1) { float: left; margin-right: 7px; }

#ewm .bv img:nth-child(1):nth-child(2) { float: left; margin-right: 7px; }

#ewm .bv img:nth-child(1):nth-child(2):nth-child(3) { float: right; }

#ewm .ebv { width: 1200px; }

#ewm .ebv .evb_1 { width: 350px; height: 145px; padding-left: 75px; position: relative; }

#ewm .ebv .evb_1 .e1 { position: absolute; left: 0; top: 0; background: url("../img/code1.png") no-repeat; width: 73px; height: 73px; }

#ewm .ebv .evb_2 { width: 350px; height: 145px; padding-left: 75px; position: relative; }

#ewm .ebv .evb_2 .e2 { position: absolute; left: 0; top: 0; background: url("../img/code2.png") no-repeat; width: 72px; height: 73px; }

#ewm .ebv .evb_3 { width: 348px; height: 145px; }

#ewm .ebv .evb_3 .dingyue { margin-left: 54px; position: relative; }

#ewm .ebv .evb_3 .dingyue .lett { position: absolute; left: -54px; top: 0; width: 46px; height: 43px; background: url("../img/lett.png") no-repeat; }

#ewm .ebv .evb_3 input { width: 212px; height: 33px; background: #F3F3F3; border: 1px solid #ddd; }

#ewm .ebv .evb_3 button { width: 70px; height: 33px; color: #fff; background: #F7661F; border: none; border-radius: 3px; }

#ewm .ebv .evb_4 { width: 150px; height: 145px; overflow: hidden; }

#ewm .ebv .evb_4 .gz { display: block; margin-bottom: 5px; float: right; }

footer { width: 100%; background: #fff; }

footer #bottom-t { height: 264px; width: 1200; display: flex; padding-left: 32px; padding-right: 32px; }

footer #bottom-t ul { flex: 1; width: 220px; height: 188px; border-right: 1px solid #DBDBDB; padding-left: 46px; }

footer #bottom-t ul li { list-style: disc; line-height: 25px; }

footer #bottom-t ul .jiacu2 { font-weight: bold; font-size: 16px; margin-bottom: 10px; list-style: none; position: relative; }

footer #bottom-t ul .jiacu2 .xins { background: url("../img/xins.png") no-repeat; width: 26px; height: 19px; position: absolute; left: -30px; top: 0; }

footer #bottom-t ul .jiacu2 .shouh { background: url("../img/shouh.png") no-repeat; width: 20px; height: 19px; position: absolute; left: -25px; top: 0; }

footer #bottom-t ul .jiacu2 .tese { background: url("../img/tese.png") no-repeat; width: 19px; height: 19px; position: absolute; left: -24px; top: 0; }

footer #bottom-t ul .jiacu2 .shenq { background: url("../img/shenq.png") no-repeat; width: 25px; height: 19px; position: absolute; left: -30px; top: 0; }

footer #bottom-t ul .jiacu2 .us { background: url("../img/us.png") no-repeat; width: 17px; height: 19px; position: absolute; left: -24px; top: 0; }

footer #bottom-t:last-child { border: none; }

footer #bottom-b { height: 143px; width: 1200; }

footer #bottom-b .bao-b { width: 623px; height: 143px; margin: 0 auto; }

footer #bottom-b .bao-b p:first-child { width: 623px; height: 48px; position: relative; }

footer #bottom-b .bao-b p:first-child .bot1 { background: url("../img/bottom1.png") no-repeat; width: 124px; height: 49px; position: absolute; left: 0px; top: 0; }

footer #bottom-b .bao-b p:first-child .bot2 { background: url("../img/bottom2.png") no-repeat; width: 118px; height: 49px; position: absolute; left: 128px; top: 0; }

footer #bottom-b .bao-b p:first-child .bot3 { background: url("../img/bottom3.png") no-repeat; width: 135px; height: 49px; position: absolute; left: 250px; top: 0; }

footer #bottom-b .bao-b p:first-child .bot4 { background: url("../img/bottom4.png") no-repeat; width: 131px; height: 49px; position: absolute; left: 386px; top: 0; }

footer #bottom-b .bao-b p:first-child .bot5 { background: url("../img/bottom5.png") no-repeat; width: 111px; height: 49px; position: absolute; left: 519px; top: 0; }

footer #bottom-b .bao-b p:nth-child(2) { text-align: center; margin-top: 13px; margin-bottom: 16px; }

footer #bottom-b .bao-b p:nth-child(3) { text-align: center; }
